<form id="new-photo-form">
	<div id='upload-preview'></div>
    <div id='restaurant-rating'></div>
	<input type="text" 
		   id="to"
		   placeholder="Your phone number">
	<br>
	<input type="text"
		   id="body" 
		   placeholder="An encouraging message!">
	<br>
	<input type="text"
		   id="time"
		   placeholder="What time?">
	<br>
	<input type="submit" value="Set Reminder" id="send">
</form>