<div id="inspiring-quote"></div>
<div id="goals-section">
	<h2>Goals</h2>
	<ul></ul>
	<input type="text" 
		   id="new-goal"
		   placeholder="Write your goal here">
	<input type="submit" 
		   value="Add" 
		   id="add-goal">
</div>
<div id="data-visualization">
	<h2>Progress</h2>
</div>